name: test buildx

on:
  workflow_dispatch:
jobs: 
  build: 
    runs-on: gha-runner-actions-test
    container:
      image: rockylinux:9
    steps: 
    - name: checkout code
      uses: actions/checkout@v2
      env:
        GITHUB_TOKEN: ${{ github.token }}
    - name: install buildah
      run: dnf -y install buildah
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      with:
        platforms: linux/amd64
        driver: remote
        endpoint: tcp://buildkitd.arc-systems.ml-cluster.local:1234
    - name: Build
#      uses: redhat-actions/buildah-build@v2
#      with:
#        image: demo
#        tags: ${{ github.sha }}
#        containerfiles: |
#          containers/Dockerfile
      uses: docker/build-push-action@v6
      with:
        push: false
        file: containers/Dockerfile