name: test buildx

on:
  workflow_dispatch:
jobs: 
  build: 
    runs-on: ubuntu-latest

    steps: 
    - name: checkout code
      uses: actions/checkout@v2
      env:
        GITHUB_TOKEN: ${{ github.token }}
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      with:
        platforms: linux/amd64
    - name: Build
      uses: docker/build-push-action@v6
      with:
        push: false
        file: containers/Dockerfile