name: test git commit push

on:
  workflow_dispatch:
permissions: 
  contents: write
jobs: 
  build: 
    runs-on: ubuntu-latest

    steps: 
    - name: checkout code
      uses: actions/checkout@v2
      env:
        GITHUB_TOKEN: ${{ github.token }}
    - name: change and push
      run: |
        echo "asdf" >> README.md
        git add README.md
        git commit -m "update file"
        git push
