name: nvidia-stubs

on:
  workflow_dispatch:

jobs:
  hpcbenchmarksosu:
    runs-on: gha-runner-actions-test
    container: 
      image: ncarcisl/cisldev-x86_64-almalinux9-aocc-mpich3-cuda:25.07
    steps:
    - name: checkout hpc benchmarks
      uses: actions/checkout@master
      with:
        repository: NCAR/hpc-benchmarks
        token: ${{ secrets.ncar_pat }}
    - name: env info
      run: |
        ls /dev
        echo $PATH
        echo $LD_LIBRARY_PATH
        env
#    - name: gpu info
#      run: |
#        [ -f "/usr/bin/nvidia-smi" ] && /usr/bin/nvidia-smi
    - name: Interrogate Runtime Environment
      run: |
        pwd
        ls
        find -type d
        env | sort
        cat /container/config_env.sh
        . /container/config_env.sh
        df -h
        ls -l /glade/ || echo "No /glade on this runner?!!"
        cat /etc/os-release 2>/dev/null || true
        uname -a
        lscpu
        nvidia-smi 2>/dev/null || true
        echo && echo && echo
        echo '----------------------------------------------------------------'
        echo && echo && echo
        echo CI_IMAGE_TAG=${{ env.CI_IMAGE_TAG }}
        echo PUBLISH_IMAGE_TAG=${{ env.PUBLISH_IMAGE_TAG }}
        echo INPUTS_SHA=${{ env.INPUTS_SHA }}
        echo
        echo "CC=${CC}"
        echo "CXX=${CXX}"
        echo "FC=${FC}"
        echo "F77=${F77}"
        echo
        echo "CFLAGS=${CFLAGS}"
        echo "CPPFLAGS=${CPPFLAGS}"
        echo "CXXFLAGS=${CXXFLAGS}"
        echo "FCFLAGS=${FCFLAGS}"
        echo "F77FLAGS=${F77FLAGS}"
        export CC CXX FC F77 CFLAGS CXXFLAGS FCFLAGS F77FLAGS CPPFLAGS
        which conda 2>/dev/null && conda --version || echo " --> no conda in this container"
        env
        which mpicc
        mpicc --version 2>/dev/null || true
        GITHUB_PATH=$PATH

    - name: MPI+OpenMP Hello World
      run: |
        echo $LD_LIBRARY_PATH
        echo $PATH
        mpicxx -o ./hello_world_mpi /container/extras/hello_world_mpi.C -fopenmp
        ldd ./hello_world_mpi
        export OMP_NUM_THREADS=2
        mpiexec -n 2 ${{ matrix.extra_mpiexec_args }} ./hello_world_mpi || true
    - name: OSU MPI benchmarks
      run: |
        echo $LD_LIBRARY_PATH
        /container/extras/build_osu-micro-benchmarks.sh
