
name: qemu test

on:
  workflow_dispatch:
jobs: 
  build: 
    runs-on: gha-runner-actions-test
    container:
      image: docker:28-cli
    steps: 
    - name: checkout code
      uses: actions/checkout@v2
      env:
        GITHUB_TOKEN: ${{ github.token }}
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      with:
        platforms: linux/amd64
        driver: remote
        endpoint: tcp://buildkitd.arc-systems.svc:1234
    - name: registry login
      uses: docker/login-action@v3
      with:
        registry: hub.k8s.ucar.edu/khrpcek
        username: robot-gha
        password: ${{ secrets.hub_password }}
    - name: Setup qemu
      uses: docker/setup-qemu-action@v3
      with:
        platforms: linux/amd64,linux/arm64
    - name: Build
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: hub.k8s.ucar.edu/khrpcek/kmh-actions-test:latest
        file: containers/Dockerfile
        cache-from: "type=registry,ref=hub.k8s.ucar.edu/kmh-actions-test/kmh-actions-test:cache"
        cache-to: "type=registry,ref=hub.k8s.ucar.edu/kmh-actions-test/kmh-actions-test:cache,image-manifest=true,mode=max"
